@{
    ViewBag.Title = "Addresses";
    List<SL.Data.Address> addresses = null;
    if (ViewBag.Addresses != null)
    {
        addresses = ViewBag.Addresses as List<SL.Data.Address>;
    }

    List<SL.Data.Country> countries = ViewBag.Countries;
    Dictionary<string, string> addresstypes = new Dictionary<string, string>();
    Dictionary<string, string> states = new Dictionary<string, string>();
}
<script src="~/js/handlebars.js"></script>

<style>
    .form-group {
        margin-bottom: 10px;
    }

    .contentBox {
        margin-bottom: 20px;
    }

    .cb_body {
        padding: 10px;
    }
</style>
<div id="viewaddresses">

    <h1 class="page_title">@ViewBag.Title</h1>
    <div class="row">
        @if (addresses != null)
        {
            foreach (var item in addresses)
            {
                <div class="col-sm-12">
                    <div class="divAddress contentBox">
                        <div class="cb_header">
                            @if (item.IsPrimary)
                            {
                                <span style="float: left;">Primary Address</span>
                            }
                            else
                            {
                                <span style="float: left;">Additional Address (@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(item.AddressTypeCodeString))</span>
                            }
                            <div style="float: right;">
                                <a href="javascript:;" class="editaddress" data-addrid="@item.CustomerAddressId"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                @if (!item.IsPrimary)
                                {
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                    <a href="javascript:;" class="deleteaddress" data-addrid="@item.CustomerAddressId"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                }
                            </div>
                        </div>
                        <div class="cb_body">
                            <address>
                                @*<span>@item.LabelName</span><br />*@
                                @Html.Raw(item.FormattedAddress.Replace("\n", "</br>"))
                                @if (item.PrioritySeq == 0)
                                {
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" checked disabled /><label>Mark as Primary</label>
                                    </div>
                                }
                                @if (item.BillToFlag == true)
                                {
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" checked disabled /><label>Bill To address</label>
                                    </div>
                                }
                                @if (item.ShipToFlag == true)
                                {
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" checked disabled /><label>Ship To Address</label>
                                    </div>
                                }
                                @if (item.WebMobileDirectory == true)
                                {
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" checked disabled /><label>Include in Online Directories</label>
                                    </div>
                                }
                            </address>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-sm-12">
        <a href="javascript:;" id="addaddress">Add Address</a>
    </div>
</div>


<div id="address" class="contentBox">

</div>

<script id="address-template-grid" type="text/x-handlebars-template">
    <div class="cb_header">
        <span id="actiontext">Edit</span> Address
        <div class="cb_header_info">* Required</div>
    </div>
    <div class="form-horizontal datagrid">
        <table class="table cb_body">
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{COUNTRYCAPTION}} </span>{{#if COUNTRYREQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <select class="input-md input_text {{COUNTRYREQUIRED}} form-control" id="COUNTRY" style="margin-right: 20px;">
                        {{#each COUNTRYOPTIONS}}
                        <option value="{{VALUE}}" {{SELECTED}}>{{TEXT}}</option>
                        {{/each}}
                    </select>
                    <span class="errorMsg"></span>
                </td>
            </tr>
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">Address Type</span><span class="asteriskField">*</span>:</td>
                <td class="col-sm-8">
                    <select class="input_text  form-control" id="addresstype">
                        @foreach (var item in @ViewBag.AddressType)
                        {
                            <option value="@item.VALUE" @item.SELECTED>@item.TEXT</option>
                        }
                    </select>
                    <span class="errorMsg"></span>
                </td>
            </tr>

            <tr>
                <td class="col-sm-4"><span class="fieldlabel">Name For Mailing Labels</span>{{#if LABELNAMEREQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{LABELNAMEREQUIRED}}" value="" id="labelNameMailing" maxlength="{{LABELNAMEMAXLENGTH}}" />
                    <span class="errorMsg"></span>
                </td>
            </tr>
            <tr id="compName">
                <td class="col-sm-4"><span class="fieldlabel">Company Name</span><span class="asteriskField">*</span>:</td>
                <td class="col-sm-8 ui-widget">
                    <input type="text" class="input_text form-control" value="{{COMPANYNAME}}" id="COMAPNYNAME" maxlength="50" />
                                     <span class="errorMsg"></span>
                </td>
            </tr>
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{ADDRESS1CAPTION}}</span>{{#if ADDRESS1REQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{ADDRESS1REQUIRED}}" value="" id="ADDRESS_1" maxlength="{{ADDRESS1MAXLENGTH}}" />
                    <span class="errorMsg"></span>
                </td>
            </tr>
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{ADDRESS2CAPTION}}</span>{{#if ADDRESS2REQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{ADDRESS2REQUIRED}}" value="" id="ADDRESS_2" maxlength="{{ADDRESS2MAXLENGTH}}" />
                    <span class="errorMsg"></span>
                </td>
            </tr>
            {{#if ADDRESS3CAPTION}}
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{ADDRESS3CAPTION}}</span>{{#if ADDRESS3REQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{ADDRESS3REQUIRED}}" value="" id="ADDRESS_3" maxlength="{{ADDRESS3MAXLENGTH}}" />
                    <span class="errorMsg"></span>
                </td>
            </tr>
            {{/if}}
            {{#if ADDRESS4CAPTION}}
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{ADDRESS4CAPTION}}</span>{{#if ADDRESS4REQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{ADDRESS4REQUIRED}}" value="" id="ADDRESS_4" maxlength="{{ADDRESS4MAXLENGTH}}" />
                    <span class="errorMsg"></span>
                </td>
            </tr>
            {{/if}}
            {{#if CITYCAPTION}}
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{CITYCAPTION}}</span>{{#if CITYREQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{CITYREQUIRED}}" value="" id="CITY" maxlength="{{CITYMAXLENGTH}}">
                    <span class="errorMsg"></span>
                </td>
            </tr>
            {{/if}}
            {{#if STATECAPTION}}
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{STATECAPTION}}</span>{{#if STATEREQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    {{#if STATEOPTIONS}}
                    <select class="input_text form-control {{STATEREQUIRED}} form-control" id="STATE">
                        {{#each STATEOPTIONS}}
                        <option value="{{VALUE}}" {{SELECTED}}>{{TEXT}}</option>
                        {{/each}}
                    </select>
                    {{else}}
                    <input type="text" class="input_text form-control" value="" id="STATE" maxlength="{{STATEMAXLENGTH}}" />
                    {{/if}}
                    <span class="errorMsg"></span>
                </td>
            </tr>
            {{/if}}
            {{#if POSTALCODECAPTION}}
            <tr>
                <td class="col-sm-4"><span class="fieldlabel">{{POSTALCODECAPTION}}</span>{{#if POSTALCODEREQUIRED}}<span class="asteriskField">*</span>{{/if}}:</td>
                <td class="col-sm-8">
                    <input type="text" class="input_text form-control {{POSTALCODEREQUIRED}}" value="" id="POSTAL_CODE" maxlength="{{POSTALCODEMAXLENGTH}}" />
                    <span class="errorMsg"></span>
                </td>
            </tr>
            {{/if}}
            <tr>
                <td class="col-sm-4"></td>
                <td class="col-sm-8">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="chkPrimaryP" class="chkPrimaryP checkBox primary" value="0" /><label>Mark as Primary</label>
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="chkbilltoaddr" class="billToAdd" value="Bill" /><label>Bill To address</label>
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="chkshiptoaddr" class="shiptoAdd" value="Ship" /><label>Ship To address</label>
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="chkincludeweb" value="Web" /><label>Include in Online Directories</label>
                    </div>
                </td>
            </tr>
            <tr class="cb_footer">
                <td class="col-sm-4"></td>
                <td class="col-sm-8 btnActions text-right">
                    <input type="button" name="btnSaveAddress" value="Save" class="btn btn-primary btn btn-info" id="btnSaveAddress" />
                    <a href="javascript:;" class="btn normal btncancel">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
</script>

<script>
    $(document).ready(function () {
        var addressToEdit = null;
        var editaddressid = 0;
        $('#divAddAddress').hide();
        $('#address').hide();



        $("#addaddress").click(function () {
            //ClearAddressForm();
            $('#viewaddresses').hide();
            addressToEdit = null;
            BuildAddress("USA");
            $('#address').show();
            $('#actiontext').html('Add');
            
            //$('#COUNTRY').removeAttr('disabled');
            //$('#addresstype').removeAttr('disabled');
        });

        $('body').on('click', '.btncancel', function () {
            $('#viewaddresses').show();
            $('#address').hide();
        });


        $('body').on('change', '#COUNTRY', function () {
            var c = $(this).val();
            //console.log("c", c);
            if (c.length > 0) {
                if (addressToEdit != null || addressToEdit != undefined) {
                    editaddressid = addressToEdit.CustomerAddressId;
                }
                addressToEdit = null;
                BuildAddress(c);
            }
        });
        $('body').on('change', '#addresstype', function () {
            if (this.value == "WORK" || this.value == "BUSINESS" )
            {
                $("#compName").show();
            }
            else
                $("#compName").hide();
        });

        function BuildAddress(country) {
            $.ajax({
                url: '@Url.Action("GetAddressStructures", "Home", new { p = Session["pid"] })',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { country: country },
                success: function (response) {
                    //console.log('Success', response, response.length);
                    if (response != null) {
                        var addresstemplatesource1 = jQuery('#address-template-grid').html();
                        var addresstemplate1 = Handlebars.compile(addresstemplatesource1);
                        address1 = addresstemplate1(response);
                        
                        jQuery('#address').html(address1);
                        FillAddressInfo();
                        $('#address').show();
                        BuildCompany();

                    }

                },
                error: function (x) { nalert(x); }
            });
        }

        function FillAddressInfo() {
                        var addr = addressToEdit;
            $('#actiontext').html('Add');
            if (addr != null || addr != undefined) {
                $('#COUNTRY').val(addr.CountryCode);
                $('#addresstype').val(addr.AddressTypeCodeString);
                if (addr.AddressTypeCodeString == "WORK" || addr.AddressTypeCodeString == "BUSINESS" )
                    $("#compName").show();
                else
                    $("#compName").hide();
                //$('#COUNTRY').attr('disabled', 'disabled')
                //$('#addresstype').attr('disabled', 'disabled')

                //$('#nameformailing').val(addr.LabelName);
                $('#COMAPNYNAME').val(addr.CompanyName);
                $('#labelNameMailing').val(addr.LabelName);
                $('#ADDRESS_1').val(addr.Address1);
                $('#ADDRESS_2').val(addr.Address2);
                $('#ADDRESS_3').val(addr.Address3);
                $('#ADDRESS_4').val(addr.Address3);
                $('#CITY').val(addr.City);
                $('#STATE').val(addr.State);
                $('#POSTAL_CODE').val(addr.PostalCode);

                $("#ChkRM").is(":checked");
                if (addr.IsPrimary)
                {
                    $(".chkPrimaryP").prop({ disabled: false, checked: true });
                    $(".chkPrimaryP").attr("disabled", 'disabled')
                }
                if (addr.BillToFlag) {

                    $(".billToAdd").prop({ disabled: false, checked: true });
                    $(".billToAdd").attr("disabled", 'disabled');// If Bill to address is selected then user cannot  uncheck, as per requirement
                }
                if (addr.ShipToFlag) {
                    $('#chkshiptoaddr').prop('checked', true);
                    $('.shiptoAdd').attr("disabled", 'disabled');
                }
                if (addr.WebMobileDirectory) {
                    $('#chkincludeweb').prop('checked', true);
                }
                $('#actiontext').html('Edit');

                $('#chkbilltoaddr').removeAttr('checked');
                $('#chkshiptoaddr').removeAttr('checked');
                $('#chkincludeweb').removeAttr('checked');



            }

        }

        $('body').on('click', '.editaddress', function () {

            $('#chkbilltoaddr').removeAttr('checked');
            $('#chkshiptoaddr').removeAttr('checked');
            $('#chkincludeweb').removeAttr('checked');


            var addrid = $(this).data('addrid');
            //GetAddress Details by Id
            $.ajax(
           {
               url: '@Url.Action("GetAddressById", "Home")',
               contentType: 'application/json; charset=utf-8',
               datatype: 'json',
               type: "GET",
               data: {
                   addressid: addrid
               },
               success: function (data) {
                   if (data.Success == true) {
                       var addr = data.SelectedAddress;
                       addressToEdit = addr;
                       $('#viewaddresses').hide();
                       BuildAddress(addr.CountryCode);

                   }
                   else {
                       alert('Address Not Found!');
                   }
               }
           });


        });

        function ValidateRequiredFields() {
            var isvalid = true;
            $(".required").each(function (index, el) {
                var name = $(this).attr('id');
                if ($(this).val().trim().length == 0) {
                    var labelval = $(this).parent().parent().find('.fieldlabel').html();
                    $(this).parent().find('.errorMsg').text('Please enter ' + convertToTitlecase(labelval));
                    isvalid = false;
                }
            });
            return isvalid;
        }
        $('body').on('keyup', '.required', function (event) {
            if ($(this).val().trim().length > 0) {
                $(this).parent().find('.errorMsg').text('');
            }
            else {
                var fname = $(this).parent().parent().find('.fieldlabel').html();
                $(this).parent().find('.errorMsg').text('Please enter ' + convertToTitlecase(fname));
            }
        });

        function convertToTitlecase(str) {

            var a = str.split(' ');
            var s = a[0].toUpperCase() +' '+ a.substr(1).toLowerCase();
            return s;
        }
        //btnSaveAddress
           //btnSaveAddress
        $('body').on('click', '#btnSaveAddress', function () {

            var addrid = editaddressid;
            if (addressToEdit != null || addressToEdit != undefined) {
                addrid = addressToEdit.CustomerAddressId;
            }
            if (ValidateRequiredFields()) {
                //Save
                $.ajax(
                   {
                       url: '@Url.Action("SaveAddress", "Home")',
                       contentType: 'application/json; charset=utf-8',
                       datatype: 'json',
                       type: "POST",
                       data: JSON.stringify({
                           'AddressId': addrid,
                           'country': $('#COUNTRY').val(),
                           'addresstype': $('#addresstype').val(),
                           'LabelName': $('#labelNameMailing').val(),
                           'CompanyName': $('#COMAPNYNAME').val(),
                           'address_1': $('#ADDRESS_1').val(),
                           'address_2': $('#ADDRESS_2').val(),
                           'address_3': $('#ADDRESS_3').val(),
                           'address_4': $('#ADDRESS_4').val(),
                           'city': $('#CITY').val(),
                           'state': $('#STATE').val(),
                           'postal_code': $('#POSTAL_CODE').val(),
                           'shiptoflag': $('#chkshiptoaddr').is(":checked"),
                           'billtoflag': $('#chkbilltoaddr').is(":checked"),
                           'includeweb': $('#chkincludeweb').is(":checked"),
                           'Primary': $('#chkPrimaryP').is(":checked"),
                       }),
                       success: function (data) {
                           if (data.Success == true) {
                               
                               location.reload();
                           }
                           else {
                               alert(data.Message);
                           }
                       }
                   });
                }
        });
        //Delete Address
        $('body').on('click', '.deleteaddress', function () {
            if (confirm("Are you sure you wish to delete this record?")) {
                var addrid = $(this).data('addrid');
                //GetAddress Details by Id
                $.ajax(
               {
                   url: '@Url.Action("RemoveAddress", "Home")',
                   contentType: 'application/json; charset=utf-8',
                   datatype: 'json',
                   type: "GET",
                   data: {
                       addressid: addrid
                   },
                   success: function (data) {
                       if (data.Success == true) {
                           location.reload();
                       }
                       else {
                           if (data.Message.length > 0) {
                               nalert(data.Message);
                           }
                           else {
                               nalert("An error occured. Please try again.");
                           }
                       }
                   }
               });
            }
        });
        //End
    });

</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript">
    function BuildCompany() {
        
        console.log('Build Company');
        $("#COMAPNYNAME").autocomplete({
            hint: true,
            highlight: true,
            minLength: 3,
            source: function (request, response) {
                 console.log(request);
                $.ajax({
                    url: '@Url.Action("GetCompany", "Home")',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log('Build Company1');
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {

                            var id = item.Id;
                            var name = item.CompanyName;
                            map[name] = { id: id, name: name };
                            items.push(name);
                        });
                        console.log(items);
                        response(items);

                    },
                    error: function (response) {

                        console.log('Error',response.responseText);
                    },
                    failure: function (response) {
                        console.log('failure',response.responseText);
                    }
                });
            },
            updater: function (item) {

                return item;
            }
        });
    }
</script>
